<% layout("/layouts/boilerplate") %>
<body>
    <div id="filters">
        <div class="filter">
            <div><i class="fa-solid fa-fire"></i></div>
            <p>Trending</p>
        </div>
        <div class="filter">
            <div><i class="fa-solid fa-bed"></i></div>
            <p>Rooms</p>
        </div>
        <div class="filter">
            <div><i class="fa-solid fa-monument"></i></div>
            <p>Iconic</p>
        </div>
        <div class="filter">
            <div><i class="fa-solid fa-mountain"></i></div>
            <p>Mountains</p>
        </div>
        <div class="filter">
            <div><i class="fa-brands fa-fort-awesome"></i></div>
            <p>Castle</p>
        </div>
        <div class="filter">
            <div><i class="fa-solid fa-umbrella-beach"></i></div>
            <p>Beach</p>
        </div>
        <div class="filter">
            <div><i class="fa-solid fa-person-swimming"></i></div>
            <p>Pools</p>
        </div>
        <div class="filter">
            <div><i class="fa-solid fa-tent"></i></div>
            <p>Camp</p>
        </div>
        <div class="filter">
            <div><i class="fa-solid fa-person-hiking"></i></div>
            <p>Hike</p>
        </div>
        <div class="filter">
            <div><i class="fa-brands fa-safari"></i></div>
            <p>Safari</p>
        </div>
        <div class="filter">
            <div><i class="fa-solid fa-snowflake"></i></div>
            <p>Arctic</p>
        </div>
        <div class="filter">
            <div><i class="fa-solid fa-cow"></i></div>
            <p>Farms</p>
        </div>

        <div class="tax-toggle">
            <div class="form-check-reverse form-switch">
                <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault">
                <label class="form-check-label" for="flexSwitchCheckDefault">Display price including tax</label>
            </div>
        </div>
    </div>
    <!-- <h3 class="title">All Listings</h3> -->
    <div class="row row-cols-lg-5 mt-2">
        <% for (listing of allListings) { %>
            <a href="/listings/<%=listing._id%>" class="card-anchor">
                <div class="card listing-card">
                    <img src="<%=listing.image.url%>" class="card-img-top" alt="listing image" style="height: 20rem">
                    <div class="card-body">
                      <p class="card-text">
                          <b><%= listing.title %></b> <br>
                          &#8377;<%= listing.price.toLocaleString("en-IN") %> / night
                          <i class="tax-info">&nbsp; +12.5% tax</i>
                      </p>
                    </div>
                  </div>
            </a>
        <% } %>
    </div>
</body>

<script>
    let taxToggle = document.getElementById("flexSwitchCheckDefault");
    taxToggle.addEventListener("click", () => {
        let taxInfos = document.getElementsByClassName("tax-info")
        for(taxInfo of taxInfos) {
            if(taxInfo.style.display != "inline") {
                taxInfo.style.display = "inline";
            }
            else {
                taxInfo.style.display = "none";
            }
        }
    })
</script>


