<!-- Using bootsrap alert style to display errors -->
<% layout("/layouts/boilerplate") %>

<div class="row">
    <div class="alert alert-danger mt-4" role="alert" >
        <%= message %>
    </div>
</div>