/* Body */
body {
    font-family: 'Plus Jakarta Sans', sans-serif !important; /* to override pre-set custom stylings on the catd given by bootsrap */
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Such that body occupies 100% height of the viewport*/
}
.container {
    flex: 1; /* container will grow/shrink to occupy 1 ratio to fit the space available in the container*/
}            /* as body occupies 100vh, thus, footer will take as much width given to it at the bottom and the rest will be taken by container (grow) */
             /* check boilerplate.ejs syntax */
.title {
    margin-top: 1rem !important;
    margin-bottom: 1rem !important;
}
/* Navbar */
.navbar {
    height: 4rem;
    background-color: white;
}
.fa-compass {
    color: #fe424d; /* changing color similar to airbnb icon */
    font-size: 2rem;
}
.nav-link {
    color: #222222 !important; 
}
.nav-link:hover {
    text-decoration: underline;
}

/* Footer */
.f-info-links a {
    text-decoration: none;
    color: #222222;
}
.f-info-links a:hover {
    text-decoration: underline;
}
.f-info-links, .f-info-socials {
    width: 100%;
}
.f-info-socials i {
    margin-right: 0.3rem;
    font-size: 1.2rem;
}
.f-info {
    height: 8rem;
    background-color: #ebebeb;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
}

/* Cards */
.listing-card {
    border: none !important;
    margin-bottom: 2rem;
    padding: 0.3rem;
}
.card-img-top {
    border-radius: 0.5rem !important;
    object-fit: cover; /* object-fit : sets how the content of a replaced element (elements whose position can be changed but not the content itself e.g img) fits the image */
}
.card-text {
    font-weight: 500;
}
.card-anchor {
    text-decoration: none;
}
.card-body {
    padding: 0.2rem !important;
}

/* Card Effects */
.card:hover {
    transition: 0.3s;
    box-shadow: 0 0 11px rgba(33,33,33,.5);;
}

/* New Page */
.add-btn {
    background-color: #fe424d !important;
    border: none !important;
}
.add-btn:hover {
    transition: 0.3s;
    box-shadow: 0 0 11px rgba(33,33,33,.5);;
}

/* Edit Page */
.edit-btn {
    background-color: #fe424d !important;
    border: none !important;
}
.edit-btn:hover {
    transition: 0.3s;
    box-shadow: 0 0 11px rgba(33,33,33,.5);;
}

/* Show Page */
.show-img {
    height: 30vh;
}

/* Map */
#map { 
    height:400px;
    width: 80vh;
}

/* Filters */
#filters {
    display: flex;
    flex-wrap: wrap;
    margin-left: 1.5rem;
    align-items: center;
}
.filter {
    text-align: center;
    margin-right: 2.5rem;
    margin-top: 1rem;
    opacity: 0.7;
}
.filter:hover {
    opacity: 1;
    cursor: pointer;
}
.filter p {
    font-size: 0.8rem;
}
.tax-toggle {
    border: 1px solid grey;
    border-radius: 12px;
    padding: 8px;
    color: gray;
}
.tax-info {
    display: none; /* "visibility: hidden" hides element but it still takes up space it was originally taking up. "display: none" hides both */
}
/* Search bar */
.btn-search {
    background-color: #fe424d !important;
    color: white !important;
    border-radius: 25px !important;
}
.btn-search i {
    display: inline;
    margin-right: 8px;
}
.search-inp {
    padding-right: 8rem !important;
}